html, body {
  width: 100vh;
  height: 100vh;
  margin: auto;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgb(255, 129, 249);
}
.container-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: 2px solid;

  margin-right: 5px;
  padding: 2px;
  background-color: rgb(231, 96, 118);
}
.line {
  display: flex;
  margin: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: start;
  align-items: stretch;
  background-color: rgb(0, 125, 184);
}
.letter {
  display: flex;
  flex-wrap: nowrap;
  border-width: 2px solid;
  border-right: 2px solid;
  margin: 0px;
  width: 70px;
  height: 70px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}


.container-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: 2px solid;
  margin-left: 5px;
  padding: 2px;
  background-color: rgb(78, 78, 78);
}

.frame {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
  background-color: orange;
}
.canvas {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: yellow;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  text-align: center;
  background-color: green;
}
.progress {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  border: 2px solid black;
  text-align: center;
  background-color: aqua;
}
.answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  font-size: 30px;
  background-color: purple;
}

.letter-wrong {
  background-color: red;
}
.letter-correct {
  background-color: green;
}